body{
font-family:Arial,sans-serif;
background-color:#f2f2f2;
margin:0;
padding:0;
}
header{
background-color:#004466;
color:white;
padding:20px;
text-align:center;
}
a{
background-color:#004466;
}
nav{
margin-top:10px;
}
nav a{
color:white;
margin:10px;
text-decoration:none;
}
main{
padding:20px;
}
form{
background:white;
padding:20px;
border-radius:8px;
max-width:400px;
margin:auto;
}
input,select,textarea,button{
width:100%;
margin:10px;
padding:10px;
}
h1{
font-size:50px
}
p{
font-size:30px;
}
textarea{
width:700px;
length:650px;
}